{% extends 'base.html' %}
{% load static %}

{% block title %}
  iShout | Tell us more
{% endblock %}



{% block content %}
    <section class="hero-wrap" style="height: 65px; background-image: url({% static 'images/background.jpg' %});">
    </section>
    <section>
    <section class="container" style="display:flex; justify-content:center;">

        <div class="comment-form-wrap pt-5">
            <h3>Your ad has been placed successfully</h3>
          </div>
    </section>
{% endblock %}